<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_square"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.MyParty"
        tools:targetApi="31">
        <activity
            android:name=".StartActivities.RulesActivity"
            android:exported="false" />
        <activity
            android:name=".Profile.EditPartyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".ProfileOrganizator.ProfileOrganizatorActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".Main.FilterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".StartActivities.CreateProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".Profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".AddParty.AddPartyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".PartyActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".StartActivities.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".StartActivities.RegistrationActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
        <activity
            android:name=".StartActivities.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Activity" />
    </application>

</manifest>